{% extends 'base.html' %}
{% block title %}{% if form.instance.pk %}Редактировать коллекцию{% else %}Добавить коллекцию{% endif %} - Магазин{% endblock %}
{% block content %}
<h1 class="my-4">{% if form.instance.pk %}Редактировать коллекцию{% else %}Добавить коллекцию{% endif %}</h1>
<div class="card">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Сохранить</button>
            <a href="{% url 'shop:collection_list' %}" class="btn btn-secondary">Отмена</a>
        </form>
    </div>
</div>
{% endblock %}