{% extends 'base.html' %}
{% block title %}Контакты - Магазин{% endblock %}
{% block content %}
<h1 class="my-4">Свяжитесь с нами</h1>
<div class="card mb-4">
    <div class="card-body">
        <p class="card-text"><strong>Email:</strong> info@sportshop.ru</p>
        <p class="card-text"><strong>Телефон:</strong> +7-800-123-4567</p>
        <p class="card-text"><strong>Адрес:</strong> ул. Спортивная, 10, Москва, Россия</p>
        <p class="card-text"><strong>Часы работы:</strong> Пн-Пт, 9:00–18:00</p>
    </div>
</div>
{% endblock %}